@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #0e1538;
}

.box {
    position: relative;
    width: 300px;
    height: 450px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
}

.box::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: animate .5s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box::after {
    content: '';
    position: absolute;
    background: #0e1538;
    inset: 4px;
    border-radius: 20px;
}

.box:hover {
    content: '';
    position: relative;
    width: 300px;
    height: 450px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
}

.box:hover::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#00ccff, #d400d4);
    animation: loop 10s linear infinite;
}

@keyframes loop {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box:hover::after {
    content: '';
    position: absolute;
    background: #0e1538;
    inset: 4px;
    border-radius: 20px;
}

.box h2 {
    color: white;
    font-size: 10em;
    z-index: 10;
    cursor: none;
}