* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    /* border: 2px solid red; */
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    animation: smove 1s ease-in-out infinite;
}

@keyframes smove {
    0% {
        transform: translate(0px);
    }
    100% {
        transform: translate(-200px);
    }
}

.box {
    /* border: 2px solid blue; */
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    background: pink;
    box-shadow: 0 0 5px rgba(236, 180, 190, 1), 0 0 25px rgba(236, 180, 190, 1), 0 0 50px rgba(236, 180, 190, 1), 0 0 100px rgba(236, 180, 190, 1), 0 0 200px rgba(236, 180, 190, 0.5), 0 0 300px rgba(236, 180, 190, 0.5);
    transform-origin: bottom right;
    animation: cmove 1s ease-in-out infinite;
}

@keyframes cmove {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(90deg);
    }
    65% {
        transform: rotate(85deg);
    }
    70% {
        transform: rotate(90deg);
    }
    75% {
        transform: rotate(87.5deg);
    }
    80%,
    100% {
        transform: rotate(90deg);
    }
}